# Libraries Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

# Read Data

In [3]:
dataset = pd.read_csv('Data.csv')

In [4]:
dataset.head(5)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [6]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

# Missing Data

 # # - Numeric Data

In [7]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

X[:, [1,2]] = imputer.fit_transform(X[:, [1,2]])

# # - Categorical Data

In [8]:
# use either mode or median

# One Hot Encoding

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

transformer = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')

X = np.array(transformer.fit_transform(X))

In [10]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

y = encoder.fit_transform(y)

# Train Test Split

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Feature Scaling

In [12]:
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler

scaler = StandardScaler()

X_train[:, [3,4]] = scaler.fit_transform(X_train[:, [3,4]])
X_test[:, [3,4]] = scaler.transform(X_test[:, [3,4]])

# Advance Notes:

1. y_pred = scaler.inverse_tranform(y_pred)

2. Remove one dummy variable

3. Do not scale encoded features